<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
    <script src="/js/notify.min.js" ></script>
    
    <title>Trang chủ</title>
</head>

<body>
    <!-- Menu ben trai -->
    <div class="nav-side-menu">
        <div class="brand">Sakai Plus</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard fa-lg"></i> Trang chủ
                    </a>
                </li>
                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                    <a href="#"><i class="fa fa-gift fa-lg"></i> Phân loại thông báo <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a href="/notification">Tất cả thông báo</a></li>
                    <li><a href="/notification/faculty">Phòng ban</a></li>
                    <li><a href="https://stdportal.tdtu.edu.vn">Cổng thông tin</a></li>
                </ul>
                <% if(locals.data && data.role == 'Admin'){ %>
                    <li data-toggle="collapse" data-target="#products2" class="collapsed active">
                        <a href="#"><i class="fa fa-users fa-lg"></i> Admin <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="products2">
                        <li><a href="/user/profile">Thông tin cá nhân</a></li>
                        <li><a href="/admin/createAccount">Thêm tài khoản phòng ban</a></li>
                    </ul>
                <% }else{ %>
                    <li>
                        <a href="/user/profile">
                            <i class="fa fa-users fa-lg"></i> Thông tin cá nhân
                        </a>
                    </li>
                <% } %>
                <li>
                    <a href="/user/logout">
                        <i class="fa fa-power-off"></i> Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6 gedf-main">
        <!-- Khu vuc dang bai -->
        <div class="card gedf-card">
            <div class="card-body">
                <a href="#" id="createModel" class="btn btn-primary">Tạo bài đăng</a>
            </div>
        </div>
        <br>
        <!-- Post -->
        <div id="PostList"></div>
    </div>

    <!-- Thong bao ben phai -->
    <div class="col-md-3 thongbao-manhinhchinh">
        <div class="card gedf-card">
            <div class="card-body card-thongbao-chinh">
                <h5 class="card-title card-title-thongbao">Thông báo</h5>
                <a href="/notification" class="card-link link-xem-toanbo-thongbao"><u>Xem tất cả thông báo</u></a>
            </div>
        </div>
        <div id="notificationList">
        </div>
    </div>

    <!-- Modal Create Post -->
    
    <div class="modal fade" id="PostModal" tabindex="-1" role="dialog" aria-labelledby="Tạo bài đăng" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Đăng thông báo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/api/post/create" method="POST" autocomplete="on">
                    <div class="form-group">
                        <label for="title">Tiêu đề</label>
                        <input type="text" class="form-control" id="title" aria-describedby="Tiêu đề bài viết" placeholder="Nhập tiêu đề">
                    </div>
                    <div class="form-group">
                        <label for="content">Nội dung</label>
                        <textarea class="form-control" id="content" rows="3" aria-describedby="Nhập nội dung" placeholder="Nhập nội dung"></textarea>
                        </div>
                    <div class="form-group">
                        <label for="group">Chọn phòng ban</label>
                        <select multiple class="form-control" id="group" name="group">
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="video">Thêm link video</label>
                        <p id="link_videos"></p>
                        <a type="button" class="btn btn-primary btn-sm" id="add_video">Thêm link</a>
                    </div>

                    <div class="form-group">
                        <label for="image">Tải file lên</label>
                        <input type="file" id="image" class="form-control-file" name="image" accept="image/*" multiple/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="cancelPost">Close</button>
              <button type="button" id="btn_submit" class="btn btn-primary">Đăng thông báo</button>
            </div>
          </div>
        </div>
      </div>

    <% if(locals.data){ %>
        <p class="data" data-id="<%= data.id %>"></p>
        <p class="data" data-token="<%= data.token %>"></p>
        <p class="data" data-refreshToken="<%= data.refreshToken %>"></p>
        <p class="data" data-name="<%= data.name %>"></p>
        <p class="data" data-nickName="<%= data.nickName %>"></p>
        <p class="data" data-avatar="<%= data.avatar %>"></p>
        <p class="data" data-role="<%= data.role %>"></p>
        <p class="data" data-email="<%= data.email %>"></p>
    <% } %>
    
    <% if(locals.flash){ %>
        <p class="data" data-success="<%= flash.success %>"></p>
        <p class="data" data-msg="<%= flash.msg %>"></p>
        <p class="data" data-name="<%= flash.name %>"></p>
        <p class="data" data-email="<%= flash.email %>"></p>
        <p class="data" data-password="<%= flash.password %>"></p>
        <p class="data" data-groupID="<%= flash.groupID %>"></p>
    <% } %>
</body>
<script src="/js/methods.js"></script>
<script src="/js/main.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>

</script>

</html>